body {
  text-align: center;
  background-color: #fafafa; /*el diegote*/
}

.content {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.status {
  max-width: 200px;
  padding: 20px;
  margin: 0 auto;
}

.progress {
  background-color: rgb(229, 233, 235);
  height: 5px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  border-color: blue;
}

.progress-bar-blue {
  background-size: 23em 0.25em;
  height: 100%;
  position: relative;
  background-color: #337ab7;
}

.disclaimer {
  font-size: 12px;
}

input {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
